{% extends "head.html" %}

{% load static %}

{% block head %}

<div class="menu">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">

            <div class="col-md-3 mb-2 mb-md-0">

                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img class="bi" src="https://sebrae.com.br/Sebrae/Portal%20Sebrae/resources/images/icons/portal/sb-icon__logo-sebrae-white.svg">
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'usuarios:inicio' %}" class="nav-link px-2 text-white">Sessões de Negócios</a></li>
                <li><a href="{% url 'usuarios:inicio' %}" class="nav-link px-2 text-white">Rodadas de Negócios</a></li>
            </ul>

            {% if not user.is_authenticated %}

            <div class="col-md-3 text-end">
                <a class="btn btn-outline-light me-2" href="{% url 'usuarios:entrar' %}">Entrar</a>
                <a class="btn btn-primary" href="{% url 'usuarios:cadastrar' %}">Cadastrar</a>
            </div>

            {% else %}

            <div class="dropdown text-end">
                <a href="#" class="nav-link text-decoration-none dropdown-toggle px-2 text-white" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="{% url 'rodada:cad_usuario' %}">Cadastro</a></li>
                  <li><a class="dropdown-item" href="{% url 'usuarios:change_password' %}">Mudar minha senha</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'rodada:sair' %}">Sair</a></li>
                </ul>
            </div>

            {% endif %}

        </header>
    </div>
</div>

{% block content %}{% endblock %}

{% endblock %}