{% extends "head.html" %}

{% load static %}

{% block head %}

<header>
<div class="menu">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <ul class="nav col-9 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'usuarios:inicio' %}" class="nav-link px-2 text-white">Início</a></li>
                <li><a href="{% url 'usuarios:academico' %}" class="nav-link px-2 text-white">Currículo Acadêmico</a></li>
                <li><a href="{% url 'usuarios:profissional' %}" class="nav-link px-2 text-white">Currículo Profissional</a></li>
                <li><a href="{% url 'usuarios:informes' %}" class="nav-link px-2 text-white">Informes</a></li>
            </ul>

                {% if not user.is_authenticated %}

            <div class="col-md-3 text-end">
                <a class="btn btn-outline-light me-2" href="{% url 'usuarios:entrar' %}">Entrar</a>
                <a class="btn btn-primary" href="{% url 'usuarios:cadastrar' %}">Cadastrar</a>
            </div>

            {% else %}

            <div class="dropdown text-end">
                <a href="#" class="nav-link text-decoration-none dropdown-toggle px-2 text-white" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="{% url 'usuarios:cadastro' %}">Cadastro</a></li>
                  <li><a class="dropdown-item" href="{% url 'usuarios:inicio' %}">Mudar minha senha</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'usuarios:sair' %}">Sair</a></li>
                </ul>
            </div>

            {% endif %}


        </header>
    </div>
</div>

{% block menu %}{% endblock %}

{% endblock %}