{% extends "menu.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block menu %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Currículo Profissional - Inclusão:</h3>
        </div>
        <div class="col text-end">
            <div class="col text-end">
                <a class="btn btn-primary" href="{% url 'usuarios:profissional' %}">Volta</a>
            </div>
        </div>
    </div>

</div>

<main>
    <div class="container">
        <br><br>
        <div class="d-flex justify-content-center">
            <div class="card shadow shadow-primary p-4" style="width: 25rem;">
            
                <h2>Inclusão de Empresa:</h2>
                <form method="post" id="formulario">
                    {% csrf_token %}
                    {{ form_empresa | crispy }}
                    {{ form_usuario_empresa | crispy }}
                    <div class="text-center p-2">
                        <input class="btn btn-primary" type="submit" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}